*{
    padding: 0;
    margin: 0;
}
.foot-table{
    /* padding-top: 40px;
    padding-bottom: 0px; */
    padding: 20px;
    background-color: #dcb288;
}
.padding{
    padding-top: 10px;
    padding-bottom: 40px;
}
.first{
    font-family: 'Playfair Display', serif;
    color: #1a1007;
    font-size: 50px;
    font-weight: 1000;
    line-height: 1.2;
    padding-left: 85px;
    padding-right: 40px;
    /* padding-bottom: 50px; */
}
.second{
    font-size: 14px;
    line-height: 1.4;
    padding-left: 125px;
    color: #967b69;
}
.email-form {
    display: inline-flex;
    align-items: center;
}
.box::placeholder{
    font-size: 14px;
    color: #967b69;
    padding-left: 10px;
}
.box{
    height: 50px;
    width: 255px;
    border: transparent;
    background-color: #bc9d80;
}
.arrow-btn {
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1107; /* Button background color */
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px; /* Matches input padding */
    height: 50px; /* Adjust height to match the input field */
    cursor: pointer;
}
.arrow-btn:hover{
    color: rgba(255, 255, 255, 0.493);
}
.page-bottom{
    background-color: #1b1107; /* Same background as the content */
    padding-bottom: 15px; /* Space after the bottom border */
}
.last-content {
    display: flex;
    justify-content: center;
    /* padding-left: 70px; */
    background-color: #1b1107;
    border-bottom: 1px solid white;
}
.caffeine-info {
    padding-top: 45px;
    padding-left: 17px;
    padding-right: 17px;
    border-left: 1px solid white;
}

.caffeine-info h2 {
    font-size: 77px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: #1b1107;
    font-weight: bolder;
    background-color: #c7ac8f;
    border: 2px solid #fefefd;
}

.caffeine-info p {
    font-size: 24px;
    color: white;
    margin: 10px 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-info {
    color: white;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid white;

}

.contact-info h3 {
    font-size: 28px;
    padding-bottom: 20px;
    color: white;
}
.contact-info .fpara{
    font-size: 24px;
    line-height: 1.7;
}
.contact-info .Adress{
    font-size: 24px;
    padding-top: 40px;
    color: #957b64;
}

.follow-us {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 20px;
    color: white;
}

.follow-us img {
    width: 230px;
    height: 150px;
    border: 2px solid white;
    margin-bottom: 35px;
}

.social-icons i {
    color: #1b1107;
    padding: 10px;
    background-color: #dcb087;
    border-radius: 50%;
    margin-top: 15px;
    text-decoration: none;
    font-size: 18px;  
}
#instagram{
    margin-left: 15px;
    margin-right: 15px;
}
#facebook{
    margin-left: 15px;
    margin-right: 15px;
}
